#exactCenter { 
		width: 1000px; 
		height:655px; 
		position: absolute; 
		top: 50%; 
		left: 50%; 
		transform: translate(-50%, -50%);
		background-image:url('images_lvl1/chalk1.png');
		
		}



#conditia{
	top:13%;
	display: inline-block;
	position: relative;
    margin: 2em;
	left:5%;


}

#o1 {
	top:13%;
	display: inline-block;
	position: relative;
    margin: 2em;
	left:20%;
    
}


#plus{
	width: 100px;
	height: 100px;
	display: inline-block;
	position: relative;
    margin: 2em;
	left:13%;	
	top: 8%;
	background-image:url('images_lvl1/plus.png');
    
}

#o2{
	top:13%;
    display: inline-block;
	position: relative;
    left:7%;
    margin: 2em;
}

#cifre{
	top:5%;
	display: inline-block;
	position: absolute;
    margin: 2em;
	left:105%;
	color:white;
	font-family: "Kimberley", sans-serif;
	font-size: 45px;
}


#egal{
	display: inline-block;
	font-family: "Kimberley", sans-serif;
	font-size: 75px;
	position:absolute;
	top: -10%;
	left:105%;
	color:white;

}

.sus{
	position: absolute;
	top:-60%;
}

.linie{
	position:relative;
	left:-32.5%;
	width: 80px;
	height: 23px;
	background:url("images_lvl1/linie1.png");

}


.jos{
	position: relative;

	

}

#textras{
	font-family: "Kimberley", sans-serif;
	font-size: 30px;
	color:white;
	position:absolute;
	bottom:40%;
	left:6%;
}

#textint{
	font-family: "Kimberley", sans-serif;
	font-size: 35px;
	color:white;
	position:absolute;
	top:10%;
	left:36%;
}

#pandalooks{
	position:absolute;
	right:2%;
	bottom: 17%;
	width: 160px;
	height: 200px;
	transform: scale(0.6);
	background:url("images_lvl1/look.png");


}

#raspunsuri {
	
	width: 80%;
	height: 200px;
	margin : auto;
	position: relative;
    top: 15%;
    left: 2%;
    
}

.ras {
	float: left;
	margin : 1em;
	position: relative;
    top: -25%;
	left: 5%;
   
    
}

#vieti {
	width: 70%;
	height: 5%;
	left: 30%;
	position: relative;
    top: 2.5%;
	border-radius:30px;
  
    
}

#back{
	position:absolute;
	left:-5%;
	top: 40%;
	width: 60px;
	height: 50px;
	background:url("images_lvl1/goback.png");


}

#plus1{
	position:absolute;
	left:-5%;
	top: 40%;
	width: 200px;
	height: 200px;
	background-color: red;


}

/*result page*/
#raiting{

	font-family: "Kimberley", sans-serif;
	font-size: 30px;
	color:white;
	position:absolute;
	top:60%;
	left:50%;	
}
#raiting:hover{
		transition: all 1s;
	transform: rotate(10deg) scale(1.3);
}
#user{

	font-family: "Kimberley", sans-serif;
	font-size: 25px;
	color:white;
	position:absolute;
	top:40%;
	left:38%;	
}
#sad{

	font-family: "Kimberley", sans-serif;
	font-size: 60px;
	color:white;
	position:absolute;
	top:20%;
	left:38%;	
}


#sad2{

	font-family: "Kimberley", sans-serif;
	font-size: 25px;
	color:white;
	position:absolute;
	top:45%;
	left:18%;	
}

#pandano{
	background-image:url('images_lvl1/sad.png');
	width: 250px; 
	height: 250px;
	position:absolute;
	top:55%;
	left:64%;
	
	}

#pandayes{
	background-image:url('images_lvl1/happy.png');
	width: 160px; 
	height: 270px;
	position:absolute;
	top:50%;
	left:64%;
	
	}


#result{
	background-image:url('images_lvl1/results.png');
	width: 300px; 
	height: 80px;
	position:absolute;
	top:15%;
	left:28%;
	}

#logo1{
	background-image:url('images_lvl1/logo1.png');
	width: 220px; 
	height: 60px;
	position:absolute;
	top:5%;
	left:74%;
	
	}

#back3{
	position:absolute;
	left:40%;
	top: 60%;
	width: 60px;
	height: 50px;
	background:url("images_lvl1/goback.png");


}

#back:hover{
	transition: all 1s;
	transform: rotate(10deg) scale(1.5);
	
}

#back3:hover{
	transition: all 1s;
	transform: rotate(10deg) scale(1.5);
	
}
#user1{

	font-family: "Kimberley", sans-serif;
	font-size: 30px;
	color:white;
	position:absolute;
	top:10%;
	right:8%;	
}
#time{

	font-family: "Kimberley", sans-serif;
	font-size: 50px;
	color:white;
	position:absolute;
	top:8%;
	left:8%;	
}