ul {
	list-style: none;
	position:absolute;
	top:45%;
	left:75%;

}

 li:nth-child(1), li:nth-child(2) {
			height:95px;
 }

 li a {
	
	display:inline-block;
	padding: 10px 10px 20px 10px;
	position: absolute;
	z-index: 300;
	transition: all 1s;
	  		}
 
 
	
 li:nth-child(1):hover a{
	background-color: rgba(213, 135, 11, 0.8);
	transform: rotate(5deg);
}

 li:nth-child(2):hover a{
 	background-color: rgba(33, 136, 215, 0.8);
	transform: rotate(-5deg);
}

 li:nth-child(3):hover a{
 	background-color: rgba(175,54,55,0.8);
	transform: rotate(5deg);
}
